<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 bottom">

  <% messages.forEach(element => { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="d-flex justify-content-between">
        <div>
          <%= element %>
        </div>
        <button type="button" class="close btn btn-outline-danger btn-sm" data-bs-dismiss="alert" aria-label="Close">clear</button>
      </div>
    </div>
  
  <% }) %>
  
  <% edit.forEach(element => { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="d-flex justify-content-between">
        <div>
          <%= element %>
        </div>
        <button type="button" class="close btn btn-outline-danger btn-sm" data-bs-dismiss="alert" aria-label="Close">clear</button>
      </div>
    </div>
  
  <% }) %>

  <% if (success && success.length > 0) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <% success.forEach(function(message) { %>
            <p><%= message %></p>
        <% }); %> 
    </div>
<% } %>

</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 bottom">
  <form class="nav col-12 col-md-auto flex-fill mb-2 justify-content-center mb-md-0 border" role="search" method="POST" action="/admin/products/search">
    <input type="search" name="searchTerm" class="form-control form-control-dark w-100 rounded-0 border-0" placeholder="Search..." aria-label="Search">
  
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Stock</th>
               
            </tr>
        </thead>
        <tbody>
            <% customer.forEach(element => { %>
                <tr class="align-middle">
                    <td><%= element.name %></td>
                    <td><%= element.brand %></td>
                    <td><%= element.price %></td>
                  <td><img src="<%= element.image %>" alt="Product Image" style="width: 50px; height: 50px;"></td>

                    <td><%= element.countInStock %></td>
                       <td>
                        <div class="d-flex justify-content-end gap-2">
                            <a href="/admin/products/edit/<%= element._id %>" type="button" class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <form action="/admin/products/edit/<%= element._id %>?_method=DELETE" method="post" class="position-relative" id="deleteButton">
                                <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-person-x"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <a href="/admin/products/add" class="btn btn-success btn-sm" role="button">
      <i class="bi bi-plus"></i> Add Product
  </a>
</div>



<% if (customer.length > 0) { %>
    <nav aria-label="Dashboard Pagination">
      <ul class="pagination justify-content-center mt-5">
  
        <% if (current == 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
        <% } else { %>
          <li class="page-item"><a href="/admin/products/?page=1" class="page-link">First</a></li>
        <% } %>
  
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if(i !== 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
        <% } %>
  
        <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %>
          <% if (i == current) { %>
            <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
          <% } else { %>
            <li class="page-item"><a href="/admin/products/?page=<%= i %>" class="page-link"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
          <% } %>
        <% } %>
  
        <% if (current == pages) { %>
          <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
        <% } else { %>
          <li class="page-item"><a href="/admin/products/?page=<%= pages %>" class="page-link">Last</a></li>
        <% } %>
  
      </ul>
    </nav>
  <% } %>